.admin__content {
    background-color: #fff;
    min-height: 100vh;
    padding: 40px 20px;
    font-family: 'Rokkitt', serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
}

.admin__heading h2 {
    text-align: center;
    color: #8b7969;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Rokkitt', serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
}

.search-form__inner {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.search-form__item input,
.search-form__item select {
    padding: 10px 15px;
    border: 1px solid #e0dfde;
    color: #8b7969;
    height: 45px;
    box-sizing: border-box;
    min-width: 100px;
    cursor: pointer;
}

.search-form__item input[name="keyword"] {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
}

/* もしスマホなど画面幅が狭い時、はみ出さないようにしたい*/
@media screen and (max-width: 768px) {
    .search-form__item input[name="keyword"] {
        width: 100%;
    }
}

.search-form__item input[type="text"] {
    background-color: #fff;
}

.search-form__item select,
.search-form__item input[type="date"] {
    background-color: #f4f4f4;
}

.search-form__item input[type="date"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
}

/* 標準アイコンを非表示に */
.search-form__item input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.search-form__item:has(input[type="date"]) {
    position: relative;
}

.search-form__item:has(input[type="date"])::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 0.7rem;
    pointer-events: none;
}

.search-form__button {
    display: flex;
    gap: 10px;
}

.search-form__button-submit {
    background-color: #8b7969;
    color: #fff;
    border: none;
    padding: 0 30px;
    cursor: pointer;
}

.search-form__button-reset {
    background-color: #d9c6b5;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    line-height: 45px;
    font-size: 0.9rem;
}

.admin__sub-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1000px;
    margin: 30px auto 10px;
    width: 100%;
}

.export-button {
    background-color: #e2dfdb;
    color: #8b7969;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.pagination {
    margin: 0;
}

.pagination svg,
.pagination p,
.pagination nav>div:first-child,
.pagination .hidden.sm\:flex-1 {
    display: none !important;
}

.pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #e0dfde;
    border-radius: 2px;
    background-color: #fff;
}

.pagination li {
    border-right: 1px solid #e0dfde;
}

.pagination li:last-child {
    border-right: none;
}

.pagination li a,
.pagination li span {
    display: block;
    padding: 8px 14px;
    color: #8b7969;
    text-decoration: none;
    font-size: 0.9rem;
    min-width: 35px;
    text-align: center;
    box-sizing: border-box;
}

.pagination li[aria-current="page"] span,
.pagination li.active span {
    background-color: #827264 !important;
    color: #fff !important;
}

.admin__table-container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

.admin__table tbody tr:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.admin__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e0dfde;
}

.admin__table th {
    background-color: #8b7969;
    color: #fff;
    text-align: left;
    padding: 15px;
    font-weight: normal;
    font-family: 'Playfair Display';
}

.admin__table tr:last-child td {
    border-bottom: none;
}

.admin__table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    color: #8b7969;
    font-size: 0.9em;
}

.admin__table td:nth-child(3) {
    font-family: 'Playfair Display','Rokkitt',
        sans-serif;
}

.detail-button {
    background: none;
    border: 1px solid #d9c6b5;
    color: #d9c6b5;
    padding: 5px 15px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal__content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    max-width: 80vh;
    overflow-y: auto;
    position: relative;
    border: 1px solid #8b7969;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.4);
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: #8b7969;
    background-color: #fff;
    border: 1px solid #8b7969;
    border-radius: 50%;

    font-size: 14px;
    font-weight: 100;
    line-height: 1;
    padding-bottom: 2px;
}

.modal__table {
    width: 100%;
    margin-bottom: 20px;
}

.modal__table th {
    text-align: left;
    width: 30%;
    padding: 10px 0;
    color: #8b7969;
}

.modal__table td {
    padding: 15px 20px;
    color: #8b7969;
    font-family: 'Playfair Display',
        'Rokkitt',
        sans-serif;
}

#modal-email {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #8b7969;
}

#modal-tel {
    font-family: "Georgia", serif;
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: "onum";
    -webkit-font-feature-settings: "onum";
    font-feature-settings: "onum";
    color: #8b7969;
}

.delete-button {
    display: block;
    margin: 0 auto;
    background-color: #ee7575;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
}

.search-form__button-reset,
.search-form__button-submit,
.admin__table td {
    font-family: "Merriweather", "Hiragino Sans", "Meiryo", sans-serif;
    font-size: 0.9em;
}

