.header {
    background: none;
    border-bottom: 1px solid #ddd;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-weight: 200;
    font-size: 32px;
    font-family:"Rokkitt", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
}

.header__nav {
    position: absolute;
    right: 40px;
    /* 右端からの距離を調整 */
    top: 50%;
    transform: translateY(-50%);
    /* 垂直方向の中央揃え */
}

.header__login-btn,
.header__register-btn,
.header__logout-btn {
    display: inline-block;
    text-decoration: none;
    /* 下線をなくす */
    border: 1px solid #cbb49f;
    color: #cbb49f;
    /* ヘッダーボーダー似た薄い色に */
    background-color: #f2f2f2;
    padding: 4px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: 'Playfair Display',
        serif;
    /* ボタン類はゴシック体に */
}

.header__login-btn:hover,
.header__register-btn:hover,
.header__logout-btn:hover {
    opacity: 0.7;
    color: #8b7969;
    /* ホバー時に少し明るい紫に */
}