.login__content {
    background-color: #f5efea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    box-sizing: border-box;
}

.login__heading h2 {
    font-family: 'Rokkitt', serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #8b7969;
    font-size: 32px;
    margin-bottom: 60px;
}

.form {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    padding: 90px 20px;
    border-radius: 10px;
    border: 1px solid #cbb49f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
}

.form__group-title {
    margin-bottom: 10px;
    width: auto;
    text-align: left;
    font-weight: lighter;
    font-size: 1.1rem;
}

.form__group-content {
    width: 100%;
}

.form__label--item {
    color: #8b7969;
}

.form__input--text {
    width: 100%;
}

.form__input--text input {
    width: 100%;
    padding: 12px 15px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 2px;
    font-size: 0.9rem;
    display: block;
    box-sizing: border-box;
}

.form__input--text input::placeholder {
    color: #cbb49f;
    font-family: "Merriweather",serif;
    font-size: 0.8rem;
}

.form__error {
    color: #ff0000;
    font-size: 0.8rem;
    margin-top: 5px;
}

.form__button {
    text-align: center;
    margin-top: 40px;
}

.form__button-submit {
    background-color: #8b7969;
    color: #fff;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.3s;
}

.form__button-submit:hover {
    opacity: 0.8;
}